{
    "singleQuote": true,
		"useTabs":false,
    "bracketSpacing": true,
    "tabWidth": 2,
		"arrowParens":"always",
		"endOfLine":"lf",
    "semi":  true,
    "trailingComma": "all",
		"printWidth":100
}
